\miscimgs
\fromtrotter2011
main_for_arxiv
Template-Documentation.pdf
presentation/figs/*.png
presentation/figs/*.gif
thesisdefense.mp4

# proj files
*.xml
*/.idea
friends_theses
**/*.aux
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.log
**/*.out
**/*.gz
**/*.toc
**/*.xlsx